body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



#filter-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.multiselect {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    justify-items: center;

    width: 100%;
}

.selectBox {
    grid-row: 1;
    position: relative;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.selectBox > svg {
    margin-right: 5px;
    font-weight: bold;
}

.selectBox > svg > circle {
    transition: cx 0.3s ease;
}

.selectBox:hover {
    cursor: pointer;
    font-size: 18px;
}

.selectBox:active {
    font-size: 16px;
}

.selectBox:hover > svg > circle:nth-child(4n + 2) {
    cx: 15;
}

.selectBox:hover > svg > circle:nth-child(4) {
    cx: 5;
}

.selectBox span {
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#filter-box {
    grid-row: 2;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 24px auto;

    align-items: center;
    justify-content: center;

    row-gap: 5px;

    width: 40%;
    min-width: 300px;
    margin: 0;

    overflow: hidden;

    interpolate-size: allow-keywords;
    transition: height 0.3s ease, padding 0.3s ease;
}

#filter-box.hidden {
    height: 0;
    padding: 0;
}

#filter-box > p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    margin: 1px;
    font-weight: bold;

    transition: transform 0.3s ease;
}

#filter-box > p > span {
    font-size: 10px;
}

#filters {
    grid-row: 2;

    display: flex;
    width: calc(100% - 10px);
    padding: 0;

    transition: height 0.3s ease, padding 0.3s ease;
}


#filters > span {
    transition: transform 0.3s ease;
}

#filter-box.hidden > #filters > span {
    height: 0px;
    transform: translate(0, -300px);
}

#filter-box.hidden > p {
    transform: translate(0, -300px);
}

#timeline-container {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
}

#timeline {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    height: 100%;
    position: relative;
}

/*
#timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #8d8d8d;
}
*/

#timeline > div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #8d8d8d;
}

#timeline > div > span {
    position: absolute;
    font-weight: bold;

    text-align: left;
    width: calc(50% - 5px);
    transform: translate(calc(50% + 5px), 0);
}


#timeline > div > .month {
    font-size: 10px;
    color: #8d8d8d;
}

#timeline > div > .current {
    font-size: 10px;
    color: #ff0000;
}

#timeline > div > .year {
    font-size: 14px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

#project-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.project-timeline {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
}

.project {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;

    justify-items: center;

    position: relative;
}

.project > .tags {
    width: 90%;
}

.tags > span.ignore, #key.tags > span.ignore {
    text-decoration: line-through;
    
    /*
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    */
    color: white;
    background-color: gray;
    background: gray;
    animation: none;
    opacity: 0.5;
    text-decoration-color: rgba(255, 30, 30, 0.5);
    text-decoration-thickness: 2px;
    font-style: italic;
}

.tags > .exclusive {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;
    margin-top: 10px;
}

#key.tags > span {
    /*background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);*/
    /*background: linear-gradient(to right, red, orange, yellow, green, blue, indigo);*/
    background: linear-gradient(to right, darkred, rgb(117, 117, 0), darkblue, darkmagenta);
    /*background-color: rgb(50, 50, 50);*/
}

.tags > span {
    background-color: darkgray;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
}

.tags > .js {
    background-color: #f0db4f;
    color: black;
}
.tags > .python {
    background-color: #306998;
    color: white;
}
.tags > .react {
    background-color: #61dafb;
    color: black;
}
.tags > .html {
    background-color: #e33926;
    color: white;
}
.tags > .css {
    background-color: #264de4;
    color: white;
}
.tags > .php {
    background-color: #777bb4;
    color: white;
}
.tags > .lua {
    background-color: #000080;
    color: white;
}

.tags > .game-design {
    background-color: #ff6347;
    color: white;
}
.tags > .ui {
    background-color: #20b2aa;
    color: white;
}
.tags > .front-end {
    background-color: #ff69b4;
    color: white;
}
.tags > .open-source {
    background-color: #228b22;
    color: white;
}
.tags > .interactive-demo {
    background-color: #8a2be2;
    color: white;
}
.tags > .video-demo {
    background-color: #ff4500;
    color: white;
}

.tags > span:hover {
    opacity: 0.8;
    cursor: pointer;

    padding: 6px 11px;
}

.tags > span:active {
    padding: 5px 10px;
}