:root {
    --project-opacity: 1;
    --project-cursor: zoom-in;
    
    --background-color: var(--background-default-color); /* #f0f0f0 */
    --background-default-color: #d5e6ff; /* #f0f0f0 */
    --background-color-project-focus: #9fb3d1;
    --background-color-hover: #c0d4f0;
    --background-color-active: #d5e5ff;
    
    --secondary-color: #2b7192; /* #8d8d8d */ /* timeline bars */
    --timeline-font-color: #000000; /* #8d8d8d */

    --project-color: #fafafa;
    --project-color-hover: #f0f0f0;
    --project-font-color: #151515;
    --project-shadow-color: rgba(0, 0, 0, 0.1);
    --project-shadow-color-hover: rgba(0, 0, 0, 0.2);
    --project-shadow-color-active: rgba(0, 0, 0, 0.1);

    --link-color: #0000ee;
    --link-hover-color: #00aeee;
    --link-visited-color: #551a8b;
    --link-broken-color: #64646e;
}

:root.project-focused {
    --background-color: var(--background-color-project-focus);
}
:root.project-focused.background-hover {
    --background-color: var(--background-color-hover);
}
:root.project-focused.background-active.background-hover {
    --background-color: var(--background-color-active);
}

html {
    overflow-x: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

    background-color: var(--background-color);

    transition: background-color 0.3s ease;
}

#background {
    display: none;
    /*
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
    */
}
body.project-focused {
    cursor: zoom-out;
}
body.project-focused > #background {
    background-color: var(--background-color-project-focus);
}
body.project-focused > #background.background-hover {
    background-color: var(--background-color-hover);
}
body.project-focused > #background.background-active {
    background-color: var(--background-color-active);
}


.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.external-link {
    font-style: italic;
    display: inline-flex;
    align-items: center;
}
.external-link::after {
    content: "";

    width: 1em;
    height: 0.9em;
    margin-right: 0.1em;
    margin-left: 0.2em;
}
.external-link.github::after {
    background: url("./icons/GitHub_Invertocat_White.svg") no-repeat center / contain;

    filter: brightness(0);
    -webkit-filter: brightness(0);
}
.external-link.linkedin::after {
    background: url("./icons/LinkedIn_icon.svg") no-repeat center / contain;
}

a {
    color: var(--link-color);
    font-weight: bold;
}
a:hover:not([href="#"]) {
    color: var(--link-hover-color);
}
a:visited:not([href="#"]) {
    color: var(--link-visited-color);
}
a:visited:hover:not([href="#"]) {
    color: var(--link-hover-color);
}
a[href="#"] {
    color: var(--link-broken-color);
    text-decoration: underline dashed;
    font-style: italic;
    font-weight: normal;
    cursor: not-allowed;
}

#headerSection {
    text-align: justify;
    padding: 20px;
}


#filter-container {
    display: flex;
    justify-content: center;
    margin: 15px 0 30px;
}

.multiselect {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    justify-items: center;

    width: 100%;
}

.selectBox {
    grid-row: 1;
    position: relative;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 16px;
    height: 22px;
}

.selectBox > svg {
    margin-right: 5px;
    font-weight: bold;
}

.selectBox > svg > circle {
    transition: cx 0.3s ease, fill 0.3s ease;
    fill: var(--background-color);
}

.selectBox:hover {
    cursor: pointer;
    font-size: 18px;
}

.selectBox:active {
    font-size: 16px;
}

.selectBox:hover > svg > circle:nth-child(4n + 2) {
    cx: 15;
}

.selectBox:hover > svg > circle:nth-child(4) {
    cx: 5;
}

.selectBox span {
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#filter-box {
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 24px auto;

    align-items: center;
    justify-content: center;

    row-gap: 5px;

    width: max(40%, 300px);
    max-width: calc(100vw - 20px);
    margin: 0;

    overflow: hidden;

    interpolate-size: allow-keywords;
    transition: height 0.3s ease, padding 0.3s ease;
}

#filter-box.hidden {
    height: 0;
    padding: 0;
}

#filter-box > p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    margin: 1px;
    font-weight: bold;

    transition: transform 0.3s ease;
}

#filter-box > p > span {
    font-size: 10px;
}

#filters {
    width: calc(100% - 10px);
    padding: 0;

    transition: height 0.3s ease, padding 0.3s ease;
}


#filters > span {
    transition: transform 0.3s ease;
}

#filter-box.hidden > #filters > span {
    height: 0px;
    transform: translate(0, -300px);
}

#filter-box.hidden > p {
    transform: translate(0, -300px);
}

#timeline-container {
    display: grid;
    grid-template-columns: 6em auto;
    grid-template-rows: auto;

    margin-left: 10px;
}

#timeline {
    grid-column: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: 20px;
    column-gap: 20px;

    interpolate-size: allow-keywords;
    transition: grid-template-columns 0.2s ease;
}

#timeline > .timeline-element {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: var(--timeline-font-color);
    font-weight: bold;
}

#timeline > div.timeline-element {
    grid-column: 1;
    display: grid;
    align-items: last baseline;
    justify-content: center;
    padding-left: 3px;

    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#timeline > div.timeline-element > span {
    position: sticky;
    /*align-content: bottom;*/

    bottom: 0px;
}

#timeline > div.month-bar {
    position: absolute;
    grid-column: 1;

    justify-content: center;

    width: 11px;
    background-color: var(--secondary-color);
    height: calc(100% - 10px);
    padding-left: 0;
    border-radius: 6px;

    bottom: 0.2lh;
    left: 3px;
}

#timeline > div.month-bar::after {
    content: "";
    position: sticky;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--background-color);
    border-radius: 100%;
    border: 5px solid var(--secondary-color);

    bottom: 0;
    margin-bottom: -0.25em;

    justify-self: center;

    transition: background-color 0.3s ease;
}

#timeline > .month-cell {
    min-height: 50px;
}
#timeline > div.timeline-element > span.month, #timeline > div.timeline-element > span.static {
    transform: translate(2ch);
}
#timeline > div.timeline-element > span.static {
    position: relative;
    opacity: 0.7;
    bottom: 1lh;
}
#timeline > div.timeline-element > span.year {
    transform: translateX(9ch);
}
#timeline > div.timeline-element > span.decade {
    transform: translateX(6ch);
}

/*
#timeline > div > .current {
    font-size: 10px;
    color: #ff0000;
}
*/

#project-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.project-timeline {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
}

.project {
    /*background-color: #ffffff;*/
    background-color: var(--project-color);
    background-image: radial-gradient(circle 200px at var(--mouse-x, 50%) var(--mouse-y, 50%), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0) 100%);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--project-shadow-color);
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;

    text-align: center;

    overflow: hidden;

    justify-items: center;
    justify-self: center;

    position: relative;

    opacity: 0;

    transform: translateX(-100px);

    interpolate-size: allow-keywords;
    /* NOTE: when editing also check in .project.in-view.project-focused; these set to center */
    transition: box-shadow 0.3s ease, opacity 0.3s ease, transform 0.3s ease, 
    height 0.3s ease, width 0.3s ease -0.1s, left 0.3s linear -0.3s, 
    background-color 0.3s ease;
}

.project.in-view {
    transform: translateX(0);
    opacity: var(--project-opacity, 1);
    left: 0;
}

.project.in-view:hover:not(.project-focused) {
    cursor: var(--project-cursor, zoom-in);
    box-shadow: 0 6px 12px var(--project-shadow-color-hover);
    /*
    opacity: 1;
    height: var(--project-max-height, auto);
    */
}
.project.in-view:hover:not(.project-focused) {
    background-color: var(--project-color-hover);
}
.project.in-view:active:not(.project-focused) {
    box-shadow: 0 2px 4px var(--project-shadow-color-active);
}
.project.in-view.project-focused {
    cursor: default;
    opacity: 1;
    height: var(--project-max-height, auto);
    width: calc(max(70vw, 600px) - 3em - 20px);
    max-width: calc(100vw - 12em - 20px);
    left: -3em;
    /* NOTE: when editing also check in .project; these set back to normal */
    transition: box-shadow 0.3s ease, opacity 0.3s ease, transform 0.3s ease, 
    height 0.3s ease, width 0.1s ease 0.1s, left 0.2s linear 0.1s,
    background-color 0.3s ease;
}

.project > .project-content {
    /* second argument from .project-focused width */
    width: calc(min(100%, calc(max(70vw, 600px) - 3em - 20px)));
    /* ensure no weird wrapping on collapse */
    min-width: calc(var(--projects-1fr) - 20px - 20px); /* acount for padding, TODO: check the calc */
    height: 100%;
    justify-items: center;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0px;
}

.project #learn-more {
    padding-top: 10px;

    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: var(--project-font-color);
    opacity: 0.8;

    display: inline-flex;
    align-items: center;
}
.project #learn-more > svg {
    bottom: 0px;
    transform: translate(4px);
    stroke: var(--project-font-color);

    transition: transform 0.3s ease;
}

.project:not(.project-focused):hover #learn-more > svg {
    transform: translate(8px);
}
.project:not(.project-focused):active #learn-more > svg {
    transform: translate(4px);
}

.project.project-focused #learn-more:hover {
    cursor: pointer;
}

.project.project-focused #learn-more > svg {
    transform: translate(4px) rotate(90deg);
}
.project.project-focused #learn-more:hover > svg {
    transform: translate(4px, -2px) rotate(90deg);
}
.project.project-focused #learn-more:active > svg {
    transform: translate(4px, 1px) rotate(90deg);
}


.project .tags {
    padding-bottom: 12px;
    width: 90%;
}

.project p {
    margin: 10px 20px;
    font-size: 14px;
    color: var(--project-font-color);
}

.project h2 {
    margin: 5px 0px;
    color: var(--project-font-color);
}

/* From here until buffer, fix this spaghetti later */
.project .project-info {
    display: none;
    width: 0;
    height: 0;
    margin-top: 0;

    flex-grow: 1;

    overflow: hidden;

    interpolate-size: allow-keywords;
    transition: display 0.3s ease, width 0.3s ease, margin-top 0.3s ease;
}
.project.project-focused .project-info {
    display: block;
    width: 100%;
    margin-top: 10px;

    border-top: 1px solid var(--project-font-color);
}

.project-info-content {
    display: none;
    width: 100%;
    height: 100%;
}

.project.project-focused .project-info > .project-info-content {
    display: block;

    overflow-y: auto;
    overflow-x: hidden;
}

.project-demo-container {
    position: relative;
    justify-items: center;

    background-color: var(--secondary-color); /*black;*/
    border-radius: 5px;

    /* max-height: 50vh; */
    height: calc(100% - 10px);

    cursor: default;
}

.project-demo-container > .demo-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: calc(max(5%, 2.5em) - 8px);
    aspect-ratio: 1;

    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    color: black;

    cursor: pointer;
    opacity: 0;
    
    transition: opacity 0.3s ease;
}
.project.in-view.project-focused .project-demo-container > .demo-btn {
    cursor: pointer;
    opacity: 1;
}
.demo-btn > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(calc(100% - 4px), 80%);
    height: min(calc(100% - 4px), 80%);

    pointer-events: none;

    transition: width 0.3s ease, height 0.3s ease;
}
.demo-btn:hover {
    background-color: rgb(240, 240, 240);
}
.demo-btn:hover > svg {
    width: 100%;
    height: 100%;
}
.demo-btn:active > svg {
    width: min(calc(100% - 8px), 70%);
    height: min(calc(100% - 8px), 70%);
}

.project-demo-container.fullscreen > .demo-btn {
    width: auto;
    /* height: calc(max(100vh - 100vw * 9/16, 2.5em) - 4px); */
    height: calc(2.5em - 4px);
}

.project-demo-container.fullscreen > .demo-btn#fullscreen-btn .max {
    visibility: hidden;
}
.project-demo-container:not(.fullscreen) > .demo-btn#fullscreen-btn .min {
    visibility: hidden;
}

.project-demo-container.fullscreen > .demo-btn#fullscreen-btn {
    top: 2px;
    left: 2px;
}

.demo-btn#newtab-btn {
    top: 8px;
    transform: translate(0, 100%);
}

.project-demo-container.fullscreen > .demo-btn#newtab-btn {
    top: 2px;
    left: 8px;
    transform: translate(100%, 0);
}

.project-demo-container > .project-demo {
    /* TODO: 50vh arbitrary, fix, I think this is working */
    width: min(calc(100% - 5em), 90%); /*min(calc(100% - 5em), 90%, calc(50vh * 16/9)); */
    aspect-ratio: 16/9;

    transition: width 0.3s ease;
    background-color: white;
    overflow: hidden;
}

.project-demo-container.fullscreen > .project-demo {
    position: fixed;
    width: 100vw;
    /* probs just scale it to screen, not aspect ratio */
    /* height: min(calc(100vh - 2.5em), 100vw * 9/16); */
    height: calc(100vh - 2.5em);
    bottom: 0;
    left: 0;

    transition: none;
}

#buffer {
    position: relative;
    height: 0px;

    animation-duration: 0.3s;
    animation-timing-function: ease;
}
#buffer.buffer-active {
    height: 100vh;
    animation-name: bufferAnimation;
}

@keyframes bufferAnimation {
    0% {
        height: 100vh;
    }
    100% {
        height: 0px;
    }
}

.tags > span.ignore, #key.tags > span.ignore {
    text-decoration: line-through;
    
    background-color: gray;
    background: gray;
    animation: none;
    opacity: 0.5;
    text-decoration-color: rgba(255, 30, 30, 0.5);
    text-decoration-thickness: 2px;
    font-style: italic;
}

.tags > .exclusive {
    /*font-weight: 700;*/
    text-shadow: 0.5px 0px 0px white, -0.5px 0px 0px white;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    column-gap: 6px;
    row-gap: 4px;
    margin-top: 10px;

    width: 100%;
}

#key.tags > span {
    /*background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);*/
    /*background: linear-gradient(to right, red, orange, yellow, green, blue, indigo);*/
    background: linear-gradient(to right, darkred, rgb(117, 117, 0), darkblue, darkmagenta);
    /*background-color: rgb(50, 50, 50);*/
}

.tags > span {
    background-color: darkgray;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 0.5px;

    margin: 1px;
}

.tags > .js {
    background-color: #aa8200; /* ffde25 */
}
.tags > .python {
    background-color: #306998;
}
.tags > .react {
    background-color: #418e9f; /* 58c4dc */
}
.tags > .html {
    background-color: #e33926;
}
.tags > .css {
    background-color: #264de4;
}
.tags > .php {
    background-color: #777bb4;
}
.tags > .lua {
    background-color: #000080;
}
.tags > .game-design {
    background-color: #ff6347;
}
.tags > .ui {
    background-color: #20b2aa;
}
.tags > .front-end {
    background-color: #ff69b4;
}
.tags > .open-source {
    background-color: #228b22;
}
.tags > .interactive-demo {
    background-color: #8a2be2;
}
.tags > .video-demo {
    background-color: #ff4500;
}
.tags > .data-science {
    background-color: #2f00ff;
}
.tags > .machine-learning {
    background-color: #ff1493;
}
.tags > .ai {
    background-color: #00ced1;
}
.tags > .jupyter-notebook {
    background-color: #cd6625;
}
.tags > .certification {
    background-color: #000000;
}

.tags > span:hover {
    opacity: 0.8;
    cursor: pointer;

    padding: 6px 11px;
    margin: 0px;
}

.tags > span:active {
    padding: 5px 10px;
}